/* //importar google fonts mediante cssS// */
@import url(“https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap”);
/* General styling */
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    /* background-color: #f2f4fc; */
}
body{
    background-color: #f2f4fc; 
}
.container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.title-heading-h2 {
    color: #292e47;
    font-size: 40px;
}


/*   NAV BAR */
.sect-nav{
  margin-top: 70px;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;   
    height: 20px;
}
.nav-container a { 
    margin-right: 10px;
    text-decoration: none;
    padding: 30px 30px;
    color: grey; 
}
.nav-container a:first-child{
    color: blue
}
.nav-container a:hover{
    color: blue;
}

.link-nav {
    display: flex;
}
.but-nav {
    height: 50px;    
    padding: 10px 30px;
    background-color: #072ac8;
    color: #ecf7ff;
    /* border-radius: 50%; */
    
}




/*  Projects CSS*/
.section {
    padding: 0px 30px,
}
.dad-card-container{
    margin-top: 70px;
}
.dad-card-subcontainer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.card{
    width: 340px;
    max-height: 444px;
    display: flex;
    flex-direction: column;
}
.card-img-general{
    object-fit: cover;
    height: 240px;
    width: 100%;
}
.card-content{
    background-color: white;
    display: flex;
    flex-direction:  column;
    height: 100%;
    width: 100%;
}
.card-img-container{
    margin: 0;
}
.card-project-title{
    color: #292e47;
    font-size: 24px;
    font-weight: 500;
    margin: 30px 20px 20px 20px;
    background-color: white;
}
.card-project-subtitle{
    color: #292e47;
    font-size: 16px;
    margin: 0px 20px;
    background-color: white;
}
.card-project-botton{
    color: #292e47;
    font-size: 16px;
    margin: 40px 20px;
    background-color: white;
    color: #072ac8;
    text-decoration: none;
    font-weight: 800;
}

/*  servicees  CSS*/

.service-container{
    margin-top: 70px;
}
.service-subcontainer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.service{
    width: 340px;
    max-height: 444px;
    display: flex;
    flex-direction: column;
    
}
.service-img{
    object-fit: cover;
    height: 240px;
    width: 100%;
    background-color: white;
}
.service-content{
    background-color: white;
    display: flex;
    flex-direction:  column;
    height: 100%;
    width: 100%;
}
.service-icon {
    width: 80px;
    height: 80px;
    margin-top: 40px;
    margin-left: 40px;
    padding-bottom: 0px;
    padding-left: 0px;
    border-radius: 50%;
    background-color: #ecf7ff;
    /* background-image: url(/Img/Icons/1.svg); */
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;    
}

.service-icon.icon1{
    background-image: url(/Img/Icons/1.svg);
}
.service-icon.icon2{
    background-image: url(/Img/Icons/2.svg);
}
.service-icon.icon3{
    background-image: url(/Img/Icons/3.svg);
}

.service-title{
    color: #292e47;
    font-size: 24px;
    font-weight: 500;
    margin: 30px 20px 20px 20px;
    background-color: white;
}
.service-subtitle{
    color: #292e47;
    font-size: 16px;
    margin: 0px 20px;
    background-color: white;
}
.service-project-botton{
    color: #292e47;
    font-size: 16px;
    margin: 40px 20px;
    background-color: white;
    color: #072ac8;
    text-decoration: none;
    font-weight: 800;
}



/*   SPONSORS  */

.sponsors-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}
.sponsors-div-container {
    margin-top: 130px;
}
.sponsors{
    display: flex;
    flex-direction: row;
}
.sponsors img{
    margin-right: 100px;
}
#airB{
    display: flex;
    width: 150px;
    height: 96px;
    max-height: 96px;
    max-width: 150px;
}
#goog{
    display: flex;
    width: 150px;
    height: 96px;
    max-height: 96px;
    max-width: 150px;
}
#micro{
    display: flex;
    width: 150px;
    height: 96px;
    max-height: 96px;
    max-width: 150px;
}
#fedex{
    display: flex;
    width: 150px;
    height: 96px;
    max-height: 96px;
    max-width: 150px;
}
#amazon{
    display: flex;
    width: 150px;
    height: 96px;
    max-height: 96px;
    max-width: 150px;
}
/* .sect4{
    margin-top: 40px;
    padding: 0px 30px;
}
.container-general{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.servicesheading{
    color: #292e47;
    font-size: 40px;
}
.service-container{

} */

/* SECTION 5 */

.sect5 {
    width: 1320px;
    height: 500px;
    max-width: 1320px;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffc600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.imput-container{
    text-align: center;
    margin-top: 10px;
}
.imput-btn{
    margin-top: 30px;

}
.imput-btn button {
    height: 60px;
    border: none;
    padding: 15px 60px;
}
.imput-btn input{
    height: 60px;
    border: none;
    padding: 0px 12px 0px  50px;;
}