/* //importar google fonts mediante cssS// */
/* @import url(“https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap”); */
/* General styling */
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    /* background-color: #f2f4fc; */
}
body{
    background-color: #f2f4fc; 
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}
h1{
    font-weight: bold;
    font-size: 60px;
    color: #292e47;
    margin: 20px 0px 30px;
}

/* HEADDIIINGSSSS H1 H2 H3 H4 I AFEGIR PROPIETATS */
.container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.title-heading-h2 {
    color: #292e47;
    font-size: 40px;
}


/*   NAV BAR */
.sect-nav{
  margin-top: 70px;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;   
    height: 20px;
}
.nav-container a { 
    margin-right: 10px;
    text-decoration: none;
    padding: 30px 30px;
    color: gray; 
}
.nav-container .active-page{
    color: blue
}
/* .nav-container a:first-child{
    color: blue
} */
.nav-container a:hover{
    color: blue;
}

.anchorage a {
    color: white
}

/* /////////////PROVAR MODIVICAR NAV-CONTAINER A PER LA CLASSE LINK-NAV, POTSER AL CANVIAR DE DIV EN HI HAURÀ PROU */
.link-nav {
    display: flex;
}
#but-nav {
    background-color: #15298c;
    color: #ecf7ff;
    height: 10px;
    /* margin: 0px 40px 0px 40px; */
    padding: 10px 30px;
    text-decoration: none;
   
    
}


/*      SECTION 1  */

.container-sect1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 30px 0px;
    margin: 0px 96px;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
}
.imatges{
    display: flex;
}
.img-guy{
    position:relative;
    width: 560px;
}
.card-a{
    position: absolute;
    left: 45%;
    top: 20%;
    right: auto;
    bottom: auto;
    width: 294px;
    vertical-align: middle;
    display: inline-block ;
    
}
.card-b{
    position: absolute;
    left: auto;
    top: auto;
    right: 15%;
    bottom: -3%;
    width: 290px;
    vertical-align: middle;
    display: inline-block;
}
.text{
    color: gray; 

}
.text p{
    margin: 0px 0px 40px;
}
.text-a{
    text-decoration: none;
    color: gray; 
    font-size: 17px;
}
.but-guy{
    background-color: #15298c;
    color: #ecf7ff;
    height: 50px;
    margin: 0px 40px 0px 40px;
    padding: 15px 30px;
    text-decoration: none;
   
}



/*  Projects CSS*/
.section {
    padding: 0px 30px,
}
.dad-card-container{
    margin-top: 70px;
}
.dad-card-subcontainer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.card{
    width: 340px;
    max-height: 444px;
    display: flex;
    flex-direction: column;
}
.card-img-general{
    object-fit: cover;
    height: 240px;
    width: 100%;
}
.card-content{
    background-color: white;
    display: flex;
    flex-direction:  column;
    height: 100%;
    width: 100%;
}
.card-img-container{
    margin: 0;
}
.card-project-title{
    color: #292e47;
    font-size: 24px;
    font-weight: 500;
    margin: 30px 20px 20px 20px;
    background-color: white;
}
.card-project-subtitle{
    color: #292e47;
    font-size: 16px;
    margin: 0px 20px;
    background-color: white;
}
.card-project-botton{
    color: #292e47;
    font-size: 16px;
    margin: 40px 20px;
    background-color: white;
    color: #15298c;
    text-decoration: none;
    font-weight: 800;
}

/*  servicees  CSS*/

.service-container{
    margin-top: 70px;
}
.service-subcontainer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.service{
    width: 340px;
    max-height: 444px;
    display: flex;
    flex-direction: column;
    
}
.service-img{
    object-fit: cover;
    height: 240px;
    width: 100%;
    background-color: white;
}
.service-content{
    background-color: white;
    display: flex;
    flex-direction:  column;
    height: 100%;
    width: 100%;
}
.service-icon {
    width: 80px;
    height: 80px;
    margin-top: 40px;
    margin-left: 40px;
    padding-bottom: 0px;
    padding-left: 0px;
    border-radius: 50%;
    background-color: #ecf7ff;
    /* background-image: url(/Img/Icons/1.svg); */
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;    
}

.service-icon.icon1{
    background-image: url(/Img/Icons/1.svg);
}
.service-icon.icon2{
    background-image: url(/Img/Icons/2.svg);
}
.service-icon.icon3{
    background-image: url(/Img/Icons/3.svg);
}

.service-title{
    color: #292e47;
    font-size: 24px;
    font-weight: 500;
    margin: 30px 20px 20px 20px;
    background-color: white;
}
.service-subtitle{
    color: #292e47;
    font-size: 16px;
    margin: 0px 20px;
    background-color: white;
}
.service-project-botton{
    color: #292e47;
    font-size: 16px;
    margin: 40px 20px;
    background-color: white;
    color: #072ac8;
    text-decoration: none;
    font-weight: 800;
}



/*   SPONSORS  */

.sponsors-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}
.sponsors-div-container {
    margin-top: 130px;
}
.sponsors{
    display: flex;
    flex-direction: row;
}
.sponsors img{
    margin-right: 100px;
}
#airB{
    display: flex;
    width: 150px;
    height: 96px;
    max-height: 96px;
    max-width: 150px;
}
#goog{
    display: flex;
    width: 150px;
    height: 96px;
    max-height: 96px;
    max-width: 150px;
}
#micro{
    display: flex;
    width: 150px;
    height: 96px;
    max-height: 96px;
    max-width: 150px;
}
#fedex{
    display: flex;
    width: 150px;
    height: 96px;
    max-height: 96px;
    max-width: 150px;
}
#amazon{
    display: flex;
    width: 150px;
    height: 96px;
    max-height: 96px;
    max-width: 150px;
}
/* .sect4{
    margin-top: 40px;
    padding: 0px 30px;
}
.container-general{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.servicesheading{
    color: #292e47;
    font-size: 40px;
}
.service-container{

} */

/* ////////////  DARK SCREEN */
.dark-screen{
    position: relative;
    height: 622px;
    margin: 90px 200px 90px 200px;
    background-color: #292e47;
    background-image: url("./Img/impossible/orbit.png");
    background-position: 0px 0px;
    background-size: contain;
    background-repeat: no-repeat;
    
}

    
.dark-screen h3{
    color: white;
    font-size: 40px;
    margin: 100px 0px 10px;
    margin-bottom: 10px;
}
.dark-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
}
.client{
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-top: 8% ;
}
.client-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("./Img/impossible/profile.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 1320px;
}
.client-name{
    color: aqua;
    font-size: 17px;
}

.text-dark{
    color:#ffc600;
    font-size: 24px;
    margin-top: 120px;
    text-align: center;
    line-height: 160%;
    font-weight: 500;
    max-width: 560px;
    margin-right: auto;
    margin-left: auto;
}
.client-position{
    color: white;
    font-size: 13px;
}
.emoji {
    width: 150px;
    height: 150px;

}
.emoji.top-left{   
    position: absolute;
    left: 5%;
    top: 10%;
    right: auto;
    bottom: auto;
    background-image: url("./Img/impossible/memoji-1.png");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
.emoji.top-right{
    position: absolute;
    background-image: url("./Img/impossible/memoji-2.png");
    top: 10%;
    right: 5%;
    bottom: auto;
    left: auto;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.emoji.bottom-left{  
    position: absolute;
    background-image: url("./Img/impossible/memoji-3.png");
    bottom: 10%;
    left: 5%;
    top: auto;
    right: auto;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.emoji.bottom-right{
    background-image: url("./Img/impossible/memoji-4.png");
    position: absolute;
    bottom: 10%;
    right: 5%;
    left: auto;
    top: auto;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}






/* SECTION 5 */

.sect5 {
    width: 1320px;
    height: 500px;
    max-width: 1320px;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffc600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.imput-container{
    text-align: center;
    margin-top: 10px;
}
.imput-btn{
    margin-top: 30px;

}
.imput-btn button {
    height: 60px;
    border: none;
    padding: 15px 60px;
    background-color: #15298c;
    color: #ecf7ff;
}
.imput-btn input{
    height: 60px;
    border: none;
    padding: 0px 12px 0px  50px;
}
.imp{
    background-image: url(/Img/mail.svg);
    background-repeat: no-repeat;
}

/* FOOTER !!!!! */
.foot-container{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    width: 1320px;
    margin: 200px 0px 0px;
    padding: 0px 30px 100px;
    margin-left: 12%;
}
.foot-place{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about{
    display: flex;
}

.about a{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.about sec{
    display: flex;
    flex-direction: row;
}
.img-info{
    margin-left: 50px;
}
.info{
    display: flex;
    margin-top: 16px;
    color: gray;
}